# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Virtual environments
.venv/
venv/
ENV/

# Unit test / coverage reports
.pytest_cache/
.mypy_cache/
coverage/
.coverage
htmlcov/

# Logs
*.log

# Environment variables
.env
.env.*
!.env.example

# OS/Editors
.DS_Store
Thumbs.db
.idea/
.vscode/